body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5em;
    color: #5C5B5B;
    background: #e0dcdc url("/images/body-bg.png") repeat-x top left;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.4em;
}

a, a:focus, a:hover {
    outline: none;
}

#menu {
    margin: 0;
    color: #ffffff;
    background-color: #2facac;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    border-top: solid 1px #5ad7d7;
}

#menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 1px 4px;
}

#menu a.selected, #menu a:hover {
    background-color: #2a9898;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li {
    float: left;
    padding-right: 40px;
}

#menu ul li:first-child {
    padding-left: 26px;
}

.event-info {
    padding: 20px 0;
}
.event-info.list {
    border-top: 1px solid #d4d4d4;
    position: relative;
}

.event-info a {
    color: #5C5B5B;
    text-decoration: none;
}
.event-info.list img {
    float: left;
    margin: 0 10px 10px 0;
}

.event-info.list .order {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 2px 6px;
    background-color: #739C02;
    border-radius: 0 0 6px 6px;
}
.event-info.list .order a{
    color: white;
}

.event-info h2 {
    margin-top: 0;
}

#header, #footer, #content {
    padding: 30px;
}

#header, #footer {
    color: white;
    background-color: #6e6e6e;
}

#contactform input, #contactform textarea {
    display: block;
    margin-bottom: 15px;
}

#contactform input[type="text"], 
#contactform input[type="tel"], 
#contactform input[type="email"], 
#contactform textarea {
    width: 400px;
    border: 1px solid #a0a0a0;
}

#contactform #contactform-name {
    display: none;
}

#contactform input.missing, #contactform textarea.missing {
    border: 2px solid #36b3b3;
}

#contactform label {
    display: block;
    float: left;
    width: 180px;
    margin-bottom: 15px;
}

#contactform input, #contactform label {
    height: 22px;
    line-height: 22px;
}

#contactform label.required:after {
    content: " *";
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px 0 #2a9898;
}

#contactform input[type="submit"] {
    width: 200px;
    height: 24px;
    margin-left: 180px;
    color: white;
    background-color: #2a9898;
    border: 1px solid #5c5b5b;
}

#faqs dt {
    background-color: #bebebe;
    padding: 4px;
    border-bottom: 1px solid white;
    cursor: pointer;
}
#faqs dd {
    display: none;
    background-color: #dfdfdf;
    margin: 0;
    padding: 8px 4px;
    border-bottom: 1px solid white;
}

/* HOME SLIDER */
#homeslider-wrap {
    position: relative;
}
#homeslider {
    position: relative;
    width: 600px;
    overflow: hidden;
}
#homeslider ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000%;
}
#homeslider li {
    float: left;
    width: 600px;
    position: relative;
}
#homeslider li a, #homeslider li a img {
    display: block;
}
#homeslider .slider-control {
    display: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 40%;
    background-repeat: no-repeat;
}
#previous {
    left: 10px;
    background-image: url("/images/icon_left.png");
}
#next {
    right: 10px;
    background-image: url("/images/icon_right.png");
}
#info-frame {
    position: absolute;
    width: 626px;
    height: 86px;
    left: -13px;
    bottom: 20px;
    background-image: url("/images/slider-info-frame.png");
    background-repeat: no-repeat;
}
#info-frame p {
    line-height: 72px;
    margin: 0;
    padding: 0 20px 0 40px;
    font-size: 2em;
    color: #6E6E6E;
}


#feedback {
    position: fixed;
    right: 0px;
    top: 0px;
}

.clear {
    clear: both;
}
