body {
    font-family: Georgia, serif;
    font-size: 100%;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

.event-info {
    border-bottom: 1px solid #D4D4D4;
}

#footer {
    color: white;
    background-color: #6E6E6E;
    padding: 5px;
}

