body {
    font-family: Georgia, serif;
    font-size: 100%;
    line-height: 1.5em;
    color: #5C5B5B;
    background: #E0DCDC url("/images/body-bg.png") repeat-x top left;
}

#wrap {
    width: 960px;
    margin: 0 auto;
    background-color: white;
    margin-top: 30px;
}

h1,h2,h3,h4 {
    font-weight: normal;
}

a, a:focus, a:hover {
    outline: none;
}

#menu {
    margin: 0;
    color: #FFFFFF;
    background-color: #2FACAC;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    border-top: solid 1px #5AD7D7;
}

#menu a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 1px 4px;
}

#menu a.selected, #menu a:hover {
    background-color: #2a9898;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#menu ul li {
    float: left;
    padding-right: 40px;
}

#menu ul li:first-child {
    padding-left: 26px;
}

.event-info {
    padding: 20px 0;
}
.event-info.list {
    border-bottom: 1px solid #D4D4D4;
}
.event-info.list:last-child {
    border-bottom: none;
}
.event-info a {
    color: #5C5B5B;
    text-decoration: none;
}
.event-info.list img {
    float: left;
    margin: 0 10px 10px 0;
}

.event-info h2 {
    margin-top: 0;
}

#header, #footer, #content {
    padding: 30px;
}

#header, #footer {
    color: white;
    background-color: #6E6E6E;
}

#contactform input, #contactform textarea {
    display: block;
    margin-bottom: 15px;
}

#contactform input[type="text"], 
#contactform input[type="tel"], 
#contactform input[type="email"], 
#contactform textarea {
    width: 400px;
    border: 1px solid #A0A0A0;
}

#contactform #contactform-name {
    display: none;
}

#contactform input.missing, #contactform textarea.missing {
    border: 2px solid #36B3B3;
}

#contactform label {
    display: block;
    float: left;
    width: 180px;
    margin-bottom: 15px;
}

#contactform input, #contactform label {
    height: 22px;
    line-height: 22px;
}

#contactform label.required:after {
    content: " *";
}

input:focus, textarea:focus {
    box-shadow: 0 0 5px 0 #2a9898;
}

#contactform input[type="submit"] {
    width: 200px;
    height: 24px;
    margin-left: 180px;
    color: white;
    background-color: #2a9898;
    border: 1px solid #5C5B5B;
}

#feedback {
    position: fixed;
    right: 0px;
    top: 0px;
}

.clear {
    clear: both;
}
